
 /* *{
     background: #000000 !important; 
    color: #0f0 !important;
    outline: solid #f10000 3px !important;
  }
   */
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
/* Navigation Bar Thene */
.navbar{
    padding-left: 20px;
    display: flex;
    font-family: 'Givonic', sans-serif;
    font-weight: 700 !important; /* Bold */
    width: 100vw;
    font-size:2.5vh;
    position: fixed ;
    height: 75px;

}

/* HeadingText */
.maintext{
    font-family: 'Givonic', sans-serif;
    font-weight: bold; /* Bold */ 
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;    
}
.smalltextcont{
    font-family: 'Givonic', sans-serif;
    font-weight: 400 !important; /* Bold */
}

.homepageimgcont{
    justify-content: center;
    align-items: start;
  
}
.homepageimgcont img{
    max-width: 100%;
    height: 60vh;
    width: 100vw;
}

 /* Setting Bigger Font size for large screens */
@media (min-width: 992px) {
    h1{
        font-size: 96px;
        font-weight: 700;           
    }
    .maintext{
        padding-top: 100px;
    }
}

.d1{
    padding-left: 5vw;
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    height: max-content;
    padding-top: 75px; 
    display: grid;
    justify-content: center;
    align-items: center;

    
}
.d2{
    padding-left: 5vw;
    display: grid;
    background-color: rgb(255, 255, 255);
    height: max-content;
    padding-top: 20px;
    align-items: center;

}
.d3{
    background-color: green;
    height: 5vw;

}

h1 {
    font-family: 'Givonic', sans-serif;
    font-weight: 700;
    text-align: left;
}


h2{
    font-family: 'Givonic', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    text-align: left;
}

h4 {
    font-family: 'Givonic', sans-serif;
    font-weight: 600 !important;
    text-align: left;
    font-size: 1.5rem;

} 
h3 {
    font-family: 'Givonic', sans-serif;
    font-weight: 700 !important;
    text-align: left;
    font-size: 2rem;

} 
h5{
    font-size: 1.5rem;

}


.custom-font {
    font-family: 'Givonic', sans-serif;
    
    
}

@font-face {
    font-family: 'Givonic';
    src: url('fonts/givonic/Givonic-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Givonic';
    src: url('fonts/givonic/Givonic-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Givonic';
    src: url('fonts/givonic/Givonic-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Givonic';
    src: url('fonts/givonic/Givonic-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Givonic';
    src: url('fonts/givonic/Givonic-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Givonic';
    src: url('fonts/givonic/Givonic-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Givonic';
    src: url('fonts/givonic/Givonic-Black.ttf') format('truetype');
    font-weight: 900; /* Black */
    font-style: normal;
  }


  /* h1 style */

